@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background: linear-gradient(45deg, 
              #152929 33%, 
              #ADD8E6 33%,
              #87CEEB 66%,
              #2E0854 66%,
              #4B0082 100%
             );
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.carousel-indicators [data-bs-target] {
  background-color: #4B0082;
}
.carousel-indicators .active {
  background-color: #0091FF;
}

.carousel-indicators {
  bottom: -20px;
}



@keyframes gradientBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.form-section {
  width: 500px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  text-align: center;
}

.form-section img {
  width: 120px;
}

.form-section h3 {
  margin-top: 10px;
  color: #1E90FF
;
}

.form-section label {
  font-weight: bold;
  text-align: left;
  display: block; 
  color: black;
}

label {
  color: black;
  margin-top: 10px;
}

.form-section .form-control {
  margin-bottom: 0.5rem;
  border-radius: 4px;
  border: 1px solid #0091FF;
  border-radius: 12px;
}

.form-section .invalid {
  color: red;
  font-size: 0.875rem;
}

.form-section .btn {
  transition: background-color 0.3s ease;
  border-radius: 12px;
}

.rotate-arrow .dropdown-toggle::after {
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}

.dropdown-toggle::after {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.custom-width {
  max-width: 500px;
  margin: 0 auto;
}

.link-cadastro {
  color: #152929;
}

main {
  min-height: 80vh;
}

.p-login {
  color: #152929;
}
@media (max-width: 480px) {
  .form-section {
    width: 90%;
  }
}